---
layout: page
root: false
title: Louhos
tagline: Yhteystiedot
language: fi
translation: en/contact.html
---

{% include JB/setup %}

<div class="sixteen column">
	
	<p>
		Louhos on yhteisövetoinen kokoelma avointa lähdekoodia ja välineitä 
		suomalaisten julkisten tietovarantojen käsittelyyn. Louhoksen ja 
		osaprojektien ylläpitäjiin ja kehittäjiin saat yhteyttä alla olevien
		linkkien kautta.
	</p>
	
	<ol>
		<li>
			<strong>Sähköposti: </strong> sorvi-admin - at - lists.r-forge.r-project.org
		</li>
		<li>
			<strong>IRC: </strong><a href="http://webchat.xs4all.nl">!louhos@IRCnet</a>
		</li>
		<li>
			<strong>Twitter: </strong><a href="https://twitter.com/#!/search/%23louhos">hashtag <i>#louhos</i></a>
		</li>
		<li>
			<strong>GitHub: </strong><a href="https://github.com/louhos">https://github.com/louhos</a>
		</li>
		<li>
			<strong>Blogi: </strong><a href="https://louhos.wordpress.com">https://louhos.wordpress.com</a>
		</li>
		<li>
			<strong>Wiki: </strong><a
href="https://github.com/louhos/sorvi/wiki">https://github.com/louhos/sorvi/wiki</a>
		</li>
	</ol>
	
</div>
	
<div class="info">
	<h4>Ylläpitäjät</h4>
	
	<!-- NOTE! one-third column is hard coded!-->
	{% for user_hash in site.users %}
		{% for user in user_hash %}
			{% if user.role == "admin" %}
				<div class="one-third-less column">
					<div class="personinfo">
						<h5 class="tagline-main">{{ user.name }}</h5>
						<img src="{{ ASSET_PATH }}/skeleton/images/{{ user.picture }}" alt="{{ user.name }}" class="personinfo-img"/>
						<div class="links">
							{% if user.homepage %}
								<a href="{{ user.homepage }}" title="Kotisivu" target="_blank">
									<img src="{{ ASSET_PATH }}/skeleton/images/web24.png" />
								</a>
							{% endif %}
							{% if user.twitter %}
								<a href="https://www.twitter.com/{{ user.twitter }}" title="Twitter" target="_blank">
									<img src="{{ ASSET_PATH }}/skeleton/images/twitter24.png" />
								</a>
							{% endif %}
							{% if user.googleplus %}
								<a href="{{ user.googleplus }}" title="Google+" target="_blank">
									<img src="{{ ASSET_PATH }}/skeleton/images/googleplus24.png" />
								</a>
							{% endif %}
							{% if user.github %}
								<a href="https://www.github.com/{{ user.github }}" title="GitHub" target="_blank">
									<img src="{{ ASSET_PATH }}/skeleton/images/github24.png" />
								</a>
							{% endif %}
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	{% endfor %}
	<div class="clear"></div>
	<br /><br />
	<h4>Kontribuutiot</h4>
	
	<div class="one-third column offset-by-five">
		<ul>
			<li>
				Juuso Haapanen
			</li>
			<li>
				Ari Hyvönen
			</li>
		</ul>
	
		<div class="personinfo" style="margin-top: 75px;">
			<a href="https://github.com/louhos/sorvi/wiki/Osallistu" title="GitHub" target="_blank">
				<img src="{{ ASSET_PATH }}/skeleton/images/mystery.png" alt="Sinä" class="personinfo-img"/>
			</a>
			<h5 class="tagline-main">Sinä?</h5>
		</div>
	</div>

</div>	
