---
layout: page
root: true
title: Louhos
tagline: Lähdekoodia avointen suomalaisten datavirtojen seulontaan
version: 0.2
ghurl: https://github.com/louhos/
language: fi
translation: en/index.html
---

{% include JB/setup %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="row">
	<div class="span8">

		<p>
		  	Julkisesti saatavien tietoaineistojen määrä
		  	kasvaa kiihtyvää tahtia. Hallintoon,
		  	talouteen, liikenteeseen, paikkatietoon ja
		  	muihin alueisiin liittyvien datavirtojen
		  	pöyhintä avaa uusia näkökulmia
		  	yhteiskuntaan. Laaja saatavuus ja käyttö on
		  	omiaan nostamaan yhteisten tietovarantojemme
		 	arvoa. 
		</p>
		<h5 class="tagline-main">
			Louhoksessa tavoitteenamme on:
		</h5>
		<ol>
		  <h5 class="tagline-main">

		    <li>
		      Edistää julkisten tietovarantojen tehokasta saatavuutta ja käyttöä
		    </li>


		    <li>
		      Koota, kehittää ja jakaa lähdekoodia ja tutkimusvälineitä yhteiskunnan tietovirtojen analysointiin
		    </li>

		  </h5>
		</ol>

<p>Edistämme näitä päämääriä tarkemmin rajatuilla hankkeilla. Tämän hetken kehityskohteita ovat mm. <a href="http://louhos.github.com/sorvi">suomalainen avoimen datan R-kirjasto sorvi</a>, <a href="http://louhos.github.com/datawiki/">suomalainen datawiki</a>, ja <a href="http://www.datavaalit.fi">Datavaalit-hanke</a>, joista voit lukea tarkemmin lisää hankkeiden kuvaussivuilta. Yhteisövetoinen hankkeemme toimii vapaaehtoispohjalta. <a href="contribute.html">Tutustu, osallistu, ja kontribuoi</a>. 
</p>

	</div>

	<div class="span4">
		<blockquote>
			<p>
				If you asked me what a data scientist was, I would say someone who 
				can bridge the raw data and the analysis - and make it accessible. 
				It's a democratising role; by bringing the data to the people, you 
				make the world just a little bit better
			</p>
			<cite style="text-align: right">Simon Rogers, <a href="http://www.guardian.co.uk/news/datablog/2012/mar/02/data-scientist">Guardian</a>.</cite>
		</blockquote>
	</div>

</div>


<div class="row">

	<div class="span4">
		
		<a href="contribute.html" id="ghinvolve">
			Osallistu!
		</a>

	</div>

	<div class="span8">
			{% assign posts_collate = site.posts %}
			{% include JB/news_collate %}

<p></p>
<div class="fb-like" data-href="http://louhos.github.com" data-send="true" data-layout="button_count" data-width="400" data-show-faces="false" data-font="arial"></div>		

	</div>

</div>
